WCFServiceiLibrary/WCFServiceiLibrary/App_WebReferences/IReport/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="iRePortCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MCNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InputDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="iRePortCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iRePortCheckResult" type="tns:iReportResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iReportResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HasError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MCNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckTime">
        <s:complexType />
      </s:element>
      <s:element name="CheckTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckTimeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WarningMC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Mcno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WarningMCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WarningMCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="iRePortCheckSoapIn">
    <wsdl:part name="parameters" element="tns:iRePortCheck" />
  </wsdl:message>
  <wsdl:message name="iRePortCheckSoapOut">
    <wsdl:part name="parameters" element="tns:iRePortCheckResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTimeSoapIn">
    <wsdl:part name="parameters" element="tns:CheckTime" />
  </wsdl:message>
  <wsdl:message name="CheckTimeSoapOut">
    <wsdl:part name="parameters" element="tns:CheckTimeResponse" />
  </wsdl:message>
  <wsdl:message name="WarningMCSoapIn">
    <wsdl:part name="parameters" element="tns:WarningMC" />
  </wsdl:message>
  <wsdl:message name="WarningMCSoapOut">
    <wsdl:part name="parameters" element="tns:WarningMCResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="iRePortCheck">
      <wsdl:input message="tns:iRePortCheckSoapIn" />
      <wsdl:output message="tns:iRePortCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckTime">
      <wsdl:input message="tns:CheckTimeSoapIn" />
      <wsdl:output message="tns:CheckTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WarningMC">
      <wsdl:input message="tns:WarningMCSoapIn" />
      <wsdl:output message="tns:WarningMCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iRePortCheck">
      <soap:operation soapAction="http://tempuri.org/iRePortCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTime">
      <soap:operation soapAction="http://tempuri.org/CheckTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WarningMC">
      <soap:operation soapAction="http://tempuri.org/WarningMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iRePortCheck">
      <soap12:operation soapAction="http://tempuri.org/iRePortCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTime">
      <soap12:operation soapAction="http://tempuri.org/CheckTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WarningMC">
      <soap12:operation soapAction="http://tempuri.org/WarningMC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://webserv.thematrix.net/ireport/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://webserv.thematrix.net/ireport/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>