WCFServiceiLibrary/WCFServiceiLibrary/App_WebReferences/ServiceControlCenter/ServiceControlCenter1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AfterLotEndEventArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="JobSpecialFlowId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LotDataQuantity" nillable="true" type="tns:LotData" />
      <xs:element minOccurs="0" name="LotJudge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="McNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AfterLotEndEventArgs" nillable="true" type="tns:AfterLotEndEventArgs" />
  <xs:complexType name="LotData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrontNg" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FrontNg_Scrap" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GoodAdjust" type="xs:int" />
      <xs:element minOccurs="0" name="GoodFrameAdjust" type="xs:int" />
      <xs:element minOccurs="0" name="Marker" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Marker_Scrap" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NgAdjust" type="xs:int" />
      <xs:element minOccurs="0" name="NgFrameAdjust" type="xs:int" />
      <xs:element minOccurs="0" name="OS_Scrap" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PNashi" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PNashi_Scrap" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PcsPerWork" type="xs:int" />
      <xs:element minOccurs="0" name="Qty_Scrap" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LotData" nillable="true" type="tns:LotData" />
  <xs:complexType name="AfterLotEndResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultInfo">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AfterLotEndResult" nillable="true" type="tns:AfterLotEndResult" />
  <xs:complexType name="ResultInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage_Tha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Handling" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="JigDataInfo" nillable="true" type="tns:JigDataInfo" />
      <xs:element minOccurs="0" name="JigId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="JigSmallCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarningMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultInfo" nillable="true" type="tns:ResultInfo" />
  <xs:complexType name="JigDataInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Handling" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsChange" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPass" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWarning" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message_Eng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message_Thai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QrCodeByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmallCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
      <xs:element minOccurs="0" name="ValuePerLot" type="xs:int" />
      <xs:element minOccurs="0" name="Warning" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JigDataInfo" nillable="true" type="tns:JigDataInfo" />
  <xs:complexType name="AddSpecialFlowEventArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAddNow" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsConfirmAddSpecialFlow" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="JobId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="JobSpecialFlowId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextJobId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OpNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddSpecialFlowEventArgs" nillable="true" type="tns:AddSpecialFlowEventArgs" />
  <xs:complexType name="AddSpecialFlowResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultInfo">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddSpecialFlowResult" nillable="true" type="tns:AddSpecialFlowResult" />
  <xs:complexType name="ItemCheckingEventArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrameType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="McId" type="xs:int" />
      <xs:element minOccurs="0" name="McNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="McType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpId" type="xs:int" />
      <xs:element minOccurs="0" name="OpNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviousQrCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QrCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TpCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemCheckingEventArgs" nillable="true" type="tns:ItemCheckingEventArgs" />
  <xs:complexType name="ItemCheckingResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultInfo">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItemCheckingResult" nillable="true" type="tns:ItemCheckingResult" />
  <xs:complexType name="ArrayOfJigDataInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JigDataInfo" nillable="true" type="tns:JigDataInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJigDataInfo" nillable="true" type="tns:ArrayOfJigDataInfo" />
</xs:schema>