WCFServiceiLibrary/WCFServiceiLibrary/App_WebReferences/ServiceControlCenter/ServiceControlCenter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webserv.thematrix.net/CellConCenterService/ServiceControlCenter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://webserv.thematrix.net/CellConCenterService/ServiceControlCenter.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AfterLotEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="e" nillable="true" type="q1:AfterLotEndEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AfterLotEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AfterLotEndResult" nillable="true" type="q2:AfterLotEndResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecialFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="e" nillable="true" type="q3:AddSpecialFlowEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecialFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AddSpecialFlowResult" nillable="true" type="q4:AddSpecialFlowResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigToolChecking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="e" nillable="true" type="q5:ItemCheckingEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigToolCheckingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="JigToolCheckingResult" nillable="true" type="q6:ItemCheckingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigGetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lotno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigGetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="JigGetDataResult" nillable="true" type="q7:ArrayOfJigDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigCheckData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="jigInfo" nillable="true" type="q8:JigDataInfo" />
        <xs:element minOccurs="0" name="jigType" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameter" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigCheckDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="JigCheckDataResult" nillable="true" type="q10:JigDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigSetupData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="jigInfo" nillable="true" type="q11:JigDataInfo" />
        <xs:element minOccurs="0" name="jigType" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameter" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigSetupDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="JigSetupDataResult" nillable="true" type="q13:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigUpdateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="jigInfo" nillable="true" type="q14:JigDataInfo" />
        <xs:element minOccurs="0" name="jigType" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameter" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigUpdateDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="JigUpdateDataResult" nillable="true" type="q16:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigRemoveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="jigInfo" nillable="true" type="q17:JigDataInfo" />
        <xs:element minOccurs="0" name="jigType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JigRemoveDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="JigRemoveDataResult" nillable="true" type="q18:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>